@import '../../styles'

.projects-container
  padding: 20px

  h1
    font-size: 4rem
    margin-bottom: 1rem
    color: $orange-1

.projects-carousel
  padding: 20px
  display: flex
  overflow-x: auto
  scroll-behavior: smooth
  gap: 20px

  &::-webkit-scrollbar
    display: none

  &-track
    display: flex
    gap: 20px

.project-card
  background-color: $violet-1
  padding: 20px
  border-radius: 8px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
  text-align: center
  min-width: 300px // Esto asegura que cada tarjeta tenga un ancho mínimo

  img
    width: 100%
    height: 150px
    object-fit: cover
    border-radius: 8px

  h3
    margin: 15px 0
    color: $violet-5

  p
    color: $violet-7
    font-size: 1rem
    margin: 10px 0 15px

  .project-link
    margin-top: 15px
    color: $violet-4
    display: inline-block

    fa-icon
      font-size: 1.5rem
      transition: color 0.3s

      &:hover
        color: $violet-2

  .carousel
    .owl-prev, .owl-next
      background-color: $violet-6
      color: #fff
      border-radius: 50%
      padding: 10px
      border: none
      cursor: pointer

    .owl-prev:hover, .owl-next:hover
      background-color: $violet-5

    .owl-prev
      position: absolute
      left: -40px

    .owl-next
      position: absolute
      right: -40px