<header class="header">
  <nav class="nav-links">
      <a href="/home" class="nav-item" data-tooltip="Inicio">
        <fa-icon [icon]="faHome"></fa-icon>
      </a>
      <a href="/about" class="nav-item" data-tooltip="Sobre mi">
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
      <a href="/experience" class="nav-item" data-tooltip="Experiencia">
        <fa-icon [icon]="faBriefcase"></fa-icon>
      </a>
      <a href="/projects" class="nav-item" data-tooltip="Proyectos">
        <fa-icon [icon]="faListAlt"></fa-icon>
      </a>
      <a href="/skills" class="nav-item" data-tooltip="Skills">
        <fa-icon [icon]="faCogs"></fa-icon>
      </a>
  </nav>
    <!-- <div class="language-buttons">
      <button class="icon-button">
        <img src="../../assets/images/gb.webp" alt="English">
      </button>
      <button class="icon-button">
        <img src="../../assets/images/es.webp" alt="Español">
      </button>
      <button class="icon-button">
        <img src="../../assets/images/br.webp" alt="Português">
      </button>
    </div> -->
  </header>
  
