
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

$violet-0: #08001A
$violet-1: #10002B
$violet-2: #240046
$violet-3: #3C096C
$violet-4: #5A189A
$violet-5: #7B2CBF
$violet-6: #9D4EDD
$violet-7: #C77DFF
$violet-8: #E0AAFF
$beige-1: #FFF2E2
$beige-2: #FFE5D9
$beige-3: #F2E6D9
$beige-4: #E6D2C7
$beige-5: #EAD2B8
$beige-6: #E8D5BB
$beige-7: #D2B48C
$beige-8: #D4B59E

html, body
  font-family: Inter
  height: 100%
  margin: 0
  background-color: $violet-1
  scroll-behavior: smooth
