@import '../../styles'

.experiences-container
  display: flex
  flex-direction: column
  gap: 20px
  width: 100%
  padding: 20px
  overflow: hidden // Asegura que el contenido no se salga del contenedor
  box-sizing: border-box // Incluye el padding y el border en el ancho total

  h1
    color: $orange-2
    font-size: 4rem
    margin-bottom: 1rem

.experience-card
  display: flex
  padding: 20px
  border-radius: 8px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
  width: 100%
  background-color: $violet-0
  transition: background-color 0.4s ease

  
  &:hover
    background-color: $violet-2
    transform: scale(1.05) // Aumentar ligeramente al hacer hover

  img
    width: 150px
    height: 150px
    border-radius: 8px

  h3
    margin: 15px
    color: $violet-5

  p
    color: $violet-7
    margin: 15px
    font-size: 1rem

  .experience-link
    margin: 15px
    text-align: right
    color: $violet-4

    a
      font-size: 1.5rem
      transition: color 0.3s

      &:hover
        color: $violet-2