<div class="skills-container" id="skills">
    <h1>STACK TECNOLÓGICO</h1>
    <div class="icon-grid">
        <img src="../../assets/images/netcore.png" alt="Language 1">
        <img src="../../assets/images/angular.png" alt="Language 2">
        <img src="../../assets/images/angularjs.png" alt="Language 3">
        <img src="../../assets/images/ef.jpg" alt="Language 4">
        <img src="../../assets/images/sql.png" alt="Language 5">
        <img src="../../assets/images/mysql.png" alt="Language 6">
        <img src="../../assets/images/docker.png" alt="Language 7">
        <img src="../../assets/images/ai.png" alt="Language 8">
        <img src="../../assets/images/ps.png" alt="Language 9">
    </div>
</div>
